<%- include('partials/header.ejs') %>

<body style="text-align: center;">

    <%- include('partials/navbar.ejs') %>

    <div class="container mt-2">

        <%- include('partials/errormsg.ejs') %>

        <h1 class="mt-5">Hello, World!</h1>
        
        <div class="card mt-3">

            seu email: <%= user.email %> 
        
        </div>
        
    </div>
    

</body>

<%- include('partials/footer.ejs') %>
